@import './index.css';

footer{
    grid-area: footer;
    background-color: #fff;
    padding: 2em;
}
footer.active{
    grid-column: 1/4;
    position: relative;
    left: 46px;
    z-index: -1;
}
footer marquee > h2{
    color: #000;
}